
.Rproj.user/FFF5DCD5/pcs/source-pane.pper
*.pper
.Rproj.user/FFF5DCD5/rmd-outputs
.Rproj.user/FFF5DCD5/saved_source_markers
.Rproj.user/FFF5DCD5/sources/prop/71AF6D6B
.Rproj.user/FFF5DCD5/sources/prop/7D89A4F7
.Rproj.user/FFF5DCD5/sources/prop/B2BA948E
.Rproj.user/FFF5DCD5/sources/prop/INDEX
.Rproj.user/FFF5DCD5/sources/session-65D125DD/7D46C5F3
.Rproj.user/FFF5DCD5/sources/session-65D125DD/7D46C5F3-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/BA23BAE9-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/E7C07B8B
.Rproj.user/FFF5DCD5/sources/session-65D125DD/E7C07B8B-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
