
.Rproj.user/FFF5DCD5/pcs/source-pane.pper
*.pper
.Rproj.user/FFF5DCD5/rmd-outputs
.Rproj.user/FFF5DCD5/saved_source_markers
.Rproj.user/FFF5DCD5/sources/prop/71AF6D6B
.Rproj.user/FFF5DCD5/sources/prop/7D89A4F7
.Rproj.user/FFF5DCD5/sources/prop/B2BA948E
.Rproj.user/FFF5DCD5/sources/prop/INDEX
.Rproj.user/FFF5DCD5/sources/session-65D125DD/7D46C5F3
.Rproj.user/FFF5DCD5/sources/session-65D125DD/7D46C5F3-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/BA23BAE9-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/E7C07B8B
.Rproj.user/FFF5DCD5/sources/session-65D125DD/E7C07B8B-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/s/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD553EF64DA/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD51905BB16/chunks.json
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/lock_file
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/E5F8FFF7-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/D194DCA9-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/C8755467-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/C521DD02-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/C521DD02
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/B10D9E9A-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/AB4AD6EA-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A6BB5AB2-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A6BB5AB2
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A607965B
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A21BAFAF-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/94D61F82-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/81BCFBE8-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/7A1FC818-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/781BCDC5-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/5469B642-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4F1E73EB-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4F1E73EB
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4B0A9265-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4B0A9265
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/27A4630D-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/0EA866FF-contents
.Rproj.user/FFF5DCD5/sources/prop/F6B0FD30
.Rproj.user/FFF5DCD5/sources/prop/DF4EB6F0
.Rproj.user/FFF5DCD5/sources/prop/CD18879B
.Rproj.user/FFF5DCD5/sources/prop/C0C58D83
.Rproj.user/FFF5DCD5/sources/prop/B3A2D002
.Rproj.user/FFF5DCD5/sources/prop/AD894EA3
.Rproj.user/FFF5DCD5/sources/prop/4FB1D087
.Rproj.user/FFF5DCD5/sources/prop/2F1866E0
.Rproj.user/FFF5DCD5/sources/prop/212445B1
.Rproj.user/FFF5DCD5/sources/prop/0A06DCDC
.Rproj.user/FFF5DCD5/quarto-crossref/INDEX
.Rproj.user/FFF5DCD5/quarto-crossref/04BB801E
.Rproj.user/FFF5DCD5/persistent-state
.Rproj.user/FFF5DCD5/jobs/6809B076-output.json
.Rproj.user/FFF5DCD5/ctx/ctx-56978/settings
.Rproj.user/FFF5DCD5/ctx/ctx-56978/rversion
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/INDEX
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/empty.png
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/2c6fbba9-c1b9-4bb2-8f98-899a46ffdd74.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/2c6fbba9-c1b9-4bb2-8f98-899a46ffdd74.png
.Rproj.user/FFF5DCD5/ctx/ctx-56978/options
.Rproj.user/FFF5DCD5/ctx/ctx-56978/libpaths
.Rproj.user/FFF5DCD5/ctx/ctx-56978/history
.Rproj.user/FFF5DCD5/ctx/ctx-56978/environment_vars
.Rproj.user/FFF5DCD5/ctx/ctx-56978/environment
.Rproj.user/FFF5DCD5/ctx/ctx-56978/console_actions
.Rproj.user/FFF5DCD5/jobs/20DBBF12-output.json
.Rproj.user/FFF5DCD5/sources/prop/AEB1007B
.Rproj.user/FFF5DCD5/sources/prop/B40D271A
.Rproj.user/FFF5DCD5/sources/session-E40E6455/00EDFB4C
.Rproj.user/FFF5DCD5/sources/session-E40E6455/00EDFB4C-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/0C7052F8
.Rproj.user/FFF5DCD5/sources/session-E40E6455/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/10550D5E-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/1CFE9B9D-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/8A2E2B34-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/A607965B
.Rproj.user/FFF5DCD5/sources/session-E40E6455/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/B73684C7
.Rproj.user/FFF5DCD5/sources/session-E40E6455/B73684C7-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/D774915D
.Rproj.user/FFF5DCD5/sources/session-E40E6455/D774915D-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/E74313BF-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/lock_file
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5E40E6455/chunks.json
