
.Rproj.user/FFF5DCD5/pcs/source-pane.pper
*.pper
.Rproj.user/FFF5DCD5/rmd-outputs
.Rproj.user/FFF5DCD5/saved_source_markers
.Rproj.user/FFF5DCD5/sources/prop/71AF6D6B
.Rproj.user/FFF5DCD5/sources/prop/7D89A4F7
.Rproj.user/FFF5DCD5/sources/prop/B2BA948E
.Rproj.user/FFF5DCD5/sources/prop/INDEX
.Rproj.user/FFF5DCD5/sources/session-65D125DD/7D46C5F3
.Rproj.user/FFF5DCD5/sources/session-65D125DD/7D46C5F3-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/BA23BAE9-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/E7C07B8B
.Rproj.user/FFF5DCD5/sources/session-65D125DD/E7C07B8B-contents
.Rproj.user/FFF5DCD5/sources/session-65D125DD/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/s/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD553EF64DA/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD51905BB16/chunks.json
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/lock_file
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/E5F8FFF7-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/D194DCA9-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/C8755467-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/C521DD02-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/C521DD02
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/B10D9E9A-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/AB4AD6EA-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A6BB5AB2-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A6BB5AB2
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A607965B
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/A21BAFAF-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/94D61F82-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/81BCFBE8-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/7A1FC818-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/781BCDC5-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/5469B642-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4F1E73EB-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4F1E73EB
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4B0A9265-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/4B0A9265
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/27A4630D-contents
.Rproj.user/FFF5DCD5/sources/session-53EF64DA/0EA866FF-contents
.Rproj.user/FFF5DCD5/sources/prop/F6B0FD30
.Rproj.user/FFF5DCD5/sources/prop/DF4EB6F0
.Rproj.user/FFF5DCD5/sources/prop/CD18879B
.Rproj.user/FFF5DCD5/sources/prop/C0C58D83
.Rproj.user/FFF5DCD5/sources/prop/B3A2D002
.Rproj.user/FFF5DCD5/sources/prop/AD894EA3
.Rproj.user/FFF5DCD5/sources/prop/4FB1D087
.Rproj.user/FFF5DCD5/sources/prop/2F1866E0
.Rproj.user/FFF5DCD5/sources/prop/212445B1
.Rproj.user/FFF5DCD5/sources/prop/0A06DCDC
.Rproj.user/FFF5DCD5/quarto-crossref/INDEX
.Rproj.user/FFF5DCD5/quarto-crossref/04BB801E
.Rproj.user/FFF5DCD5/persistent-state
.Rproj.user/FFF5DCD5/jobs/6809B076-output.json
.Rproj.user/FFF5DCD5/ctx/ctx-56978/settings
.Rproj.user/FFF5DCD5/ctx/ctx-56978/rversion
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/INDEX
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/empty.png
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/2c6fbba9-c1b9-4bb2-8f98-899a46ffdd74.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-56978/plots_dir/2c6fbba9-c1b9-4bb2-8f98-899a46ffdd74.png
.Rproj.user/FFF5DCD5/ctx/ctx-56978/options
.Rproj.user/FFF5DCD5/ctx/ctx-56978/libpaths
.Rproj.user/FFF5DCD5/ctx/ctx-56978/history
.Rproj.user/FFF5DCD5/ctx/ctx-56978/environment_vars
.Rproj.user/FFF5DCD5/ctx/ctx-56978/environment
.Rproj.user/FFF5DCD5/ctx/ctx-56978/console_actions
.Rproj.user/FFF5DCD5/jobs/20DBBF12-output.json
.Rproj.user/FFF5DCD5/sources/prop/AEB1007B
.Rproj.user/FFF5DCD5/sources/prop/B40D271A
.Rproj.user/FFF5DCD5/sources/session-E40E6455/00EDFB4C
.Rproj.user/FFF5DCD5/sources/session-E40E6455/00EDFB4C-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/0C7052F8
.Rproj.user/FFF5DCD5/sources/session-E40E6455/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/10550D5E-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/1CFE9B9D-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/8A2E2B34-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/A607965B
.Rproj.user/FFF5DCD5/sources/session-E40E6455/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/B73684C7
.Rproj.user/FFF5DCD5/sources/session-E40E6455/B73684C7-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/D774915D
.Rproj.user/FFF5DCD5/sources/session-E40E6455/D774915D-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/E74313BF-contents
.Rproj.user/FFF5DCD5/sources/session-E40E6455/lock_file
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5E40E6455/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5AC57AEFC/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5495DCDBE/chunks.json
.Rproj.user/FFF5DCD5/viewer-cache/EDE1896F.Rdata
.Rproj.user/FFF5DCD5/viewer-cache/6F3DC97A.Rdata
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/lock_file
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/FCEE4521-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/FCEE4521
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/C6D5E64D-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/C6D5E64D
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/ADEBBE5C-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/ADEBBE5C
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/A607965B
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/85A756AA-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/85A756AA
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/7DE255C9-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/7DE255C9
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/5B2CE36E-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/5B2CE36E
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/20612A60-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/20612A60
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-495DCDBE/0C7052F8
.Rproj.user/FFF5DCD5/jobs/AE5B77DE-output.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD58E4E3C45/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5668A78ED/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5551A4AA5/chunks.json
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/restart_file
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/lock_file
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/FF9F816B-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/F742CF27-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/F3403F98-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/EC03A9CE-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/E6635568-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/D98E7E3E-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/CE7F82A0-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/C85CA603-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/C7911CC9-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/A71F2D57-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/A607965B
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/A43BDF79-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/A42BD355-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/97895DCB-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/8B66CE9A-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/88940BF9-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/7DE255C9-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/687A7C48-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/63A20FCC-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/5B2CE36E-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/442C7F0B-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/4210DF79-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/30807CFB-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/20612A60-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-551A4AA5/0C7052F8
.Rproj.user/FFF5DCD5/sources/prop/DD6608CF
.Rproj.user/FFF5DCD5/sources/prop/9B909614
.Rproj.user/FFF5DCD5/sources/prop/96146C91
.Rproj.user/FFF5DCD5/sources/prop/93E4C31C
.Rproj.user/FFF5DCD5/sources/prop/7C388854
.Rproj.user/FFF5DCD5/sources/prop/3303D999
.Rproj.user/FFF5DCD5/sources/prop/276B77FD
.Rproj.user/FFF5DCD5/sources/prop/0CB67ADD
.Rproj.user/FFF5DCD5/sources/per/t/E5C640CC-contents
.Rproj.user/FFF5DCD5/sources/per/t/E5C640CC
.Rproj.user/FFF5DCD5/sources/per/t/DF663BD5-contents
.Rproj.user/FFF5DCD5/sources/per/t/DF663BD5
.Rproj.user/FFF5DCD5/sources/per/t/882F6145-contents
.Rproj.user/FFF5DCD5/sources/per/t/882F6145
.Rproj.user/FFF5DCD5/sources/per/t/7BF6626C-contents
.Rproj.user/FFF5DCD5/sources/per/t/7BF6626C
.Rproj.user/FFF5DCD5/sources/per/t/5A2CA053-contents
.Rproj.user/FFF5DCD5/sources/per/t/5A2CA053
.Rproj.user/FFF5DCD5/jobs/B8121FBE-output.json
.Rproj.user/FFF5DCD5/ctx/ctx-60326/settings
.Rproj.user/FFF5DCD5/ctx/ctx-60326/rversion
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/INDEX
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/empty.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/b984e772-656b-4ad7-a9f5-4177928edac4.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/b984e772-656b-4ad7-a9f5-4177928edac4.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/a7fb10a8-b584-4554-821c-3f287ca3f03c.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/a7fb10a8-b584-4554-821c-3f287ca3f03c.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/9625b8d8-656c-4476-a06a-f506c3712ac7.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/9625b8d8-656c-4476-a06a-f506c3712ac7.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/7d50885c-b6fe-409f-ba22-dfb758eb53ba.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/7d50885c-b6fe-409f-ba22-dfb758eb53ba.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/31535279-77a7-4895-831e-44ed194ce2ba.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/31535279-77a7-4895-831e-44ed194ce2ba.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/081797c1-c0fd-4e08-bb7c-2cce78dc775b.snapshot
.Rproj.user/FFF5DCD5/ctx/ctx-60326/plots_dir/081797c1-c0fd-4e08-bb7c-2cce78dc775b.png
.Rproj.user/FFF5DCD5/ctx/ctx-60326/options
.Rproj.user/FFF5DCD5/ctx/ctx-60326/libpaths
.Rproj.user/FFF5DCD5/ctx/ctx-60326/history
.Rproj.user/FFF5DCD5/ctx/ctx-60326/environment_vars
.Rproj.user/FFF5DCD5/ctx/ctx-60326/environment
.Rproj.user/FFF5DCD5/ctx/ctx-60326/console_actions
.Rproj.user/FFF5DCD5/sources/per/t/0C7052F8
.Rproj.user/FFF5DCD5/sources/per/t/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/per/t/A607965B
.Rproj.user/FFF5DCD5/sources/per/t/A607965B-contents
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5AF84D07C/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD545A4FFE9/chunks.json
.Rproj.user/FFF5DCD5/sources/session-45A4FFE9/lock_file
.Rproj.user/FFF5DCD5/sources/session-45A4FFE9/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-45A4FFE9/A607965B
.Rproj.user/FFF5DCD5/sources/session-45A4FFE9/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-45A4FFE9/0C7052F8
.Rproj.user/FFF5DCD5/jobs/FC4A9D48-output.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD553CF495A/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD535964099/chunks.json
.Rproj.user/FFF5DCD5/viewer-cache/1E8F70D8.Rdata
.Rproj.user/FFF5DCD5/viewer-cache/05295705.Rdata
.Rproj.user/FFF5DCD5/sources/prop/D49690EE
.Rproj.user/FFF5DCD5/sources/prop/1B1B7D19
.Rproj.user/FFF5DCD5/sources/per/t/FA082383-contents
.Rproj.user/FFF5DCD5/sources/per/t/FA082383
.Rproj.user/FFF5DCD5/sources/per/t/CA38C3DB-contents
.Rproj.user/FFF5DCD5/sources/per/t/CA38C3DB
.Rproj.user/FFF5DCD5/jobs/AE16EA32-output.json
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/0C7052F8
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/A607965B
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/CA38C3DB
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/CA38C3DB-contents
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/FA082383
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/FA082383-contents
.Rproj.user/FFF5DCD5/sources/session-F8FB7D35/lock_file
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5BC1B6643/chunks.json
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5289AEABE/chunks.json
.Rproj.user/FFF5DCD5/sources/session-289AEABE/lock_file
.Rproj.user/FFF5DCD5/sources/session-289AEABE/E459578F-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/A607965B
.Rproj.user/FFF5DCD5/sources/session-289AEABE/8C65FA03-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/8C65FA03
.Rproj.user/FFF5DCD5/sources/session-289AEABE/67E5CF35-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/67E5CF35
.Rproj.user/FFF5DCD5/sources/session-289AEABE/525073A8-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/525073A8
.Rproj.user/FFF5DCD5/sources/session-289AEABE/5179BD67-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/27EDFEBC-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/27EDFEBC
.Rproj.user/FFF5DCD5/sources/session-289AEABE/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/0C7052F8
.Rproj.user/FFF5DCD5/sources/session-289AEABE/0AA9D297-contents
.Rproj.user/FFF5DCD5/sources/session-289AEABE/0AA9D297
.Rproj.user/FFF5DCD5/sources/prop/F66F1A63
.Rproj.user/FFF5DCD5/sources/prop/EE9DF45B
.Rproj.user/FFF5DCD5/sources/prop/C0F930F4
.Rproj.user/FFF5DCD5/sources/prop/9C96D3CB
.Rproj.user/FFF5DCD5/sources/prop/68F02C61
.Rproj.user/FFF5DCD5/sources/prop/678466DF
.Rproj.user/FFF5DCD5/sources/prop/1ABE9B58
.Rproj.user/FFF5DCD5/sources/prop/03D6122D
.Rproj.user/FFF5DCD5/jobs/D2F19DC1-output.json
.Rproj.user/FFF5DCD5/sources/session-94CCB844/0C7052F8
.Rproj.user/FFF5DCD5/sources/session-94CCB844/0C7052F8-contents
.Rproj.user/FFF5DCD5/sources/session-94CCB844/358ED760
.Rproj.user/FFF5DCD5/sources/session-94CCB844/358ED760-contents
.Rproj.user/FFF5DCD5/sources/session-94CCB844/A607965B
.Rproj.user/FFF5DCD5/sources/session-94CCB844/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-94CCB844/lock_file
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD594CCB844/chunks.json
.Rproj.user/FFF5DCD5/sources/session-94CCB844/E4DC46CE-contents
.Rproj.user/FFF5DCD5/sources/session-94CCB844/E4DC46CE
.Rproj.user/FFF5DCD5/sources/session-94CCB844/BB715D95-contents
.Rproj.user/FFF5DCD5/sources/session-94CCB844/BB715D95
.Rproj.user/FFF5DCD5/sources/session-94CCB844/70C5E309-contents
.Rproj.user/FFF5DCD5/sources/session-94CCB844/70C5E309
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/E4207DA0
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/E4207DA0-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/E4DC46CE
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/E4DC46CE-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/lock_file
.Rproj.user/FFF5DCD5/viewer-cache/57AC8A19.Rdata
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD5ED3918E2/chunks.json
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/A607965B
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/A607965B-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/BB715D95-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/5D4BCECA-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/70C5E309-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/5B9C88A1-contents
.Rproj.user/FFF5DCD5/sources/session-ED3918E2/5D4BCECA
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD59A3490A9/chunks.json
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/lock_file
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/8AFDD5BA-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/76DD82DD-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/6E90D77B-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/680B171E-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/680B171E
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/4B62E3BA-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/3A9F3ADD-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/008B8C87-contents
.Rproj.user/FFF5DCD5/sources/prop/F5D2C29F
.Rproj.user/FFF5DCD5/sources/prop/DA418E87
.Rproj.user/FFF5DCD5/sources/prop/CDC1EC2D
.Rproj.user/FFF5DCD5/sources/prop/76CA1433
.Rproj.user/FFF5DCD5/sources/prop/2C83F57F
.Rproj.user/FFF5DCD5/sources/prop/1DF73B6A
.Rproj.user/FFF5DCD5/jobs/C3B4B9D0-output.json
.Rproj.user/FFF5DCD5/jobs/A522993C-output.json
.Rproj.user/FFF5DCD5/jobs/444BA0F7-output.json
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/11BB3E48
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/11BB3E48-contents
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/42F6EEB2
.Rproj.user/FFF5DCD5/sources/session-9A3490A9/42F6EEB2-contents
.Rproj.user/shared/notebooks/96B2109F-guide-examples/1/FFF5DCD52BDDA787/chunks.json
.Rproj.user/FFF5DCD5/viewer-cache/B42183F7.Rdata
.Rproj.user/FFF5DCD5/sources/session-23443839/lock_file
.Rproj.user/FFF5DCD5/sources/session-23443839/B464CCCD-contents
.Rproj.user/FFF5DCD5/sources/session-23443839/B464CCCD
.Rproj.user/FFF5DCD5/sources/session-23443839/680B171E-contents
.Rproj.user/FFF5DCD5/sources/session-23443839/680B171E
.Rproj.user/FFF5DCD5/sources/session-23443839/4B60A61C-contents
.Rproj.user/FFF5DCD5/sources/session-23443839/4B60A61C
.Rproj.user/FFF5DCD5/sources/session-23443839/42F6EEB2-contents
.Rproj.user/FFF5DCD5/sources/session-23443839/42F6EEB2
.Rproj.user/FFF5DCD5/sources/session-23443839/11BB3E48-contents
